.Main {
    position: relative;
    color: #fff;
    font-family: "Light";
    padding: 800px 0 10px 140px;
    overflow: hidden;
    z-index: 0;
}

.Main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/img/Монтажная область 4@4xsd 1 (1).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.logo {
    font-family: "UltraBold";
}

.logo h1 {
    font-size: 65px;
}

.FranchiseDescrip {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Bold";
}

.rectangle {
    width: 1630px;
    height: 3px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.52%, rgba(255, 255, 255, 0) 100%);
    border-radius: 90px;
}

@media (max-width: 768px) {
    .Main {
        position: relative;
        z-index: 1;
        padding: 60px 15px;
        overflow: hidden;
    }

    .Main::before {
        content: "";
        position: absolute;
        top: -100px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image:
            linear-gradient(180deg, rgba(121, 231, 255, 0) 60%, #52E0FF 72.6%),
            url("../../assets/img/Монтажная область 4@4xsd 1 (1).png");
        background-size: 600px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .FranchiseDescrip {
        font-size: 20px;
        text-align: center;
        margin-top: 280px;
    }

    .gradientOverlayUp {
        position: absolute;
        bottom: 100px;
        left: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(180deg, rgba(123, 232, 255, 0) 0%, #52E0FF 90%);
        pointer-events: none;
        z-index: -1;
    }

    .gradientOverlayDown {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(0deg, rgba(123, 232, 255, 0) 0%, #52E0FF 100%);
        pointer-events: none;
        z-index: -1;
    }

    .rectangle {
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.52%, rgba(255, 255, 255, 0) 100%);
        border-radius: 90px;
    }
}