.header {
    font-family: "Ultra";
    color: #28B9D8;
    font-size: 25px;
}

.description {
    font-family: "Light";
    font-size: 20px;
}


@media (max-width: 768px) {
    .header {
        font-size: 22px;
    }

    .description {
        font-size: 18px;
    }
}
