.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: "Light";
    padding: 150px;
    box-sizing: border-box;
}

.SupportMain {
    font-family: "Ultra";
    font-size: 30px;
}

.BussinesInfo {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-top: 50px;
    flex-wrap: wrap;
}

.websiteHeader,
.systemHeader,
.marketingHeader {
    font-family: "Ultra";
    font-size: 30px;
    padding-bottom: 10px;
}

.webDescrip,
.systemDescrip,
.marketingDescrip {
    font-size: 20px;
    max-width: 500px;
}

@media (max-width: 768px) {
    .Main {
        padding: 80px 15px;
        text-align: center;
    }

    .SupportMain {
        font-size: 24px;
    }

    .BussinesInfo {
        flex-direction: column;
        gap: 40px;
    }

    .websiteHeader,
    .systemHeader,
    .marketingHeader {
        font-size: 24px;
    }

    .webDescrip,
    .systemDescrip,
    .marketingDescrip {
        font-size: 18px;
    }
}
