.Main {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Light";
    padding: 150px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.logo h1 {
    font-family: "Ultra";
    font-size: 46px;
}

.MoneyInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.Moneys {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 70px;
    align-items: center;
}

.arrived,
.Earnings {
    font-family: "Ultra";
    font-size: 25px;
    max-width: 300px;
}

.arrivedDescrip,
.EarningsDescrip {
    max-width: 450px;
    font-size: 18px;
}

.withoutRoyalty {
    max-width: 350px;
    background-color: #fff;
    color: #29b7d8;
    border-radius: 45px 45px 0 0;
    padding: 20px;
    text-align: center;
}

.withoutRoyalty h1 {
    font-family: "Ultra";
    font-size: 40px;
    max-width: 200px;
    margin: 0 auto;
}

.withoutRoyalty p {
    font-size: 18px;
}

.chopstickCenter {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.chopstickCenter img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.Payback {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 70px;
    padding: 0 10px;
}

.RollsOccupancy,
.RollsInvetments {
    text-align: end;
}

.occupancy,
.investments {
    font-family: "Ultra";
    font-size: 25px;
}

.occupancyDescrip,
.investmentsDescrip {
    font-size: 18px;
}

.LumpSum {
    max-width: 420px;
    background-color: #fff;
    color: #29b7d8;
    border-radius: 45px 45px 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.LumpSum h1 {
    display: flex;
    align-items: flex-end;
    font-family: "Ultra";
    font-size: 40px;
    max-width: 300px;
}

.percent {
    font-family: "Ultra";
    font-size: 100px;
    text-align: center;
}

@media (max-width: 768px) {
    .Main {
        margin-top: 100px;
        padding: 20px 10px;
        text-align: center;
    }

    .logo h1 {
        font-size: 32px;
    }

    .arrived,
    .Earnings,
    .occupancy,
    .investments {
        font-size: 20px;
    }

    .arrivedDescrip,
    .EarningsDescrip,
    .occupancyDescrip,
    .investmentsDescrip {
        font-size: 16px;
    }

    .withoutRoyalty h1,
    .LumpSum h1 {
        font-size: 28px;
    }

    .withoutRoyalty{
        border-radius: 30px;
    }

    .percent {
        font-size: 60px;
    }

    .Payback {
        gap: 50px;
        
    }

    .RollsOccupancy,
    .RollsInvetments {
        text-align: center;
    }

    .Moneys {
        gap: 50px;
    }

    .MoneyInfo {
        flex-direction: column;
    }

    .LumpSum{
        border-radius: 30px;
    }

    .chopstickCenter{
        display: none;
    }
}
