.Main {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: 150;
    overflow: visible;
    z-index: 0;
}

.logo {
    background: #52E0FF;
    padding-bottom: 300px;
    text-align: center;
}

.outlinedText {
    font-family: 'Arial Black', sans-serif;
    font-size: 180px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.MoneyInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 700px;
}

.Moneys {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
    align-items: center;
}

.arrived {
    font-family: "UltraBold";
    font-size: 32px;
}

.withoutRoyalty {
    max-width: 400px;
    background-color: #fff;
    color: #52E1FF;
    border-radius: 45px 45px 0 0;
    padding: 25px;
}

.royaltyTitle {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.royaltyTitle h1 {
    font-family: "UltraBold";
    font-size: 65px;
    margin: 0;
}

.percent {
    font-family: "UltraBold" !important;
    font-size: 128px !important;
}


.withoutRoyalty p {
    font-size: 22px;
    color: #00819D;
    font-family: "Bold";
}

.chopstickCenter {
    position: absolute;
    top: 1250px;
    left: 550px;
}

.chopstickCenter img {
    width: 900px;
}

.Payback {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
    padding: 0 10px;
    height: 100%;
    align-self: flex-end;
    flex-shrink: 0;
}

.occupancy {
    font-family: "UltraBold";
    font-size: 25px;
    margin-left: 170px;
}

.buks {
    color: #00819D;
    font-family: "UltraBold";
    font-size: 110px;
}

.LumpSum {
    background-color: #fff;
    color: #52E1FF;
    border-radius: 45px 45px 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.LumpSum h1 {
    display: flex;
    font-family: "UltraBold";
    font-size: 45px;
}

.secondH {
    font-size: 64px;
    font-family: "UltraBold";
}

.list {
    display: none;
}

.whiteDot {
    width: 800px;
    height: 800px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 25.48%, rgba(255, 255, 255, 0) 85.58%);
    position: absolute;
    top: 1000px;
    left: 650px;
}

.leav {
    display: none;
}

@media (max-width: 768px) {
    .Main {
        margin-top: 60px;
    }

    .logo {
        padding: 0;
    }

    .logo h1 {
        font-size: 64px;
    }

    .chopstickCenter {
        position: absolute;
        left: -50px;
        top: 1450px;
    }

    .chopstickCenter img {
        width: 500px;
        display: block;
    }

    .gradientOverlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(180deg, rgba(123, 232, 255, 0) 0%, #52E0FF 100%);
        pointer-events: none;
    }

    .MoneyInfo {
        display: flex;
        justify-content: start;
        gap: 20px;
    }

    .Moneys {
        margin-top: 140%;
        display: flex;
    }

    .withoutRoyalty {
        max-width: 330px;
        border-radius: 0px 45px 45px 0px;
        padding: 15px;
    }

    .royaltyTitle {
        gap: 0;
    }

    .royaltyTitle h1 {
        font-size: 55px;
    }

    .royaltyDescrip{
        width: 90%;
    }

    .percent {
        font-size: 110px !important;
        margin-bottom: -20px;
    }

    .occupancy {
        font-family: "UltraBold";
        font-size: 25px;
        margin-left: 140px;
    }

    .Payback {
        display: flex;
        justify-content: end;
    }

    .LumpSum {
        width: 70%;
        border-radius: 45px 0 0 45px;
        margin-left: 90px;
        height: 450px;
    }

    .LumpSum h1 {
        font-size: 32px;
    }

    .secondH {
        font-size: 62px;
    }

    .buks {
        font-size: 80px;
    }

    .list {
        display: block;
        position: absolute;
        top: 2750px;
        left: 80px;
    }

    .whiteDot {
        width: 300px;
        height: 300px;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 25.48%, rgba(255, 255, 255, 0) 85.58%);
        position: absolute;
        top: 1370px;
        left: 60px;
    }

    .leav {
        display: block;
        position: absolute;
        width: 250px;
        top: 1700px;
        left: 200px;
        z-index: 1;
    }
}