.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.nav{
    padding: 100px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "LogoFont";
    color: #fff;
}

.logo img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.linkToApp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.appStore a,
.google a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.downImg{
    margin-left: 120px;
}

@media (max-width: 768px) {

    .main{
        padding: 20px;
    }

    .nav{
        display: flex;
        flex-direction: column  ;
        padding: 0;
    }

    .logo img {
        max-width: 400px; 
    }

    .linkToApp{
        width: 400px;
    }

    .downImg img{
        
        display: none;
    }
}
