.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.nav {
    padding: 100px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "LogoFont";
    color: #fff;
}

.logo img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.linkToApp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.appStore a,
.google a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.appStore,
.google {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.downImg {
    margin-left: 120px;
}

@media (max-width: 768px) {

    .main {
        padding: 20px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo img {
        max-width: 400px;
    }

    .linkToApp {
        width: 90%;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 10px;
    }

    .downImg img {

        display: none;
    }
}