.gridWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.column:nth-child(2) {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .gridWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .column {
        width: 45%;
    }

    .column:nth-child(1) {
    }

    .column:nth-child(2) {

    }

    .column:nth-child(3) {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 90%;
    }

}