.Main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 100px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.Main img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.firstBlock,
.secondBlock,
.thirdBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.twoPackRolls,
.Chief,
.manySushi {
    position: relative;
    display: inline-block;
}

.twoPackRolls::before,
.Chief::before,
.manySushi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 204, 248, 0) 0%, #52E0FF 130%);
    z-index: 1;
    pointer-events: none;
}

.twoPackRolls::before,
.manySushi::before {
    height: 50%;
}

.Chief::before {
    height: 75%;
}

.secondBlock {
    padding-top: 270px;
}

.thirdBlock {
    padding-top: 240px;
}

@media (max-width: 1024px) {
    .Main {
        grid-template-columns: repeat(3, 2fr);
        padding: 40px 20px;
    }

    .secondBlock,
    .thirdBlock {
        padding-top: 0;
    }
}

@media (max-width: 768px) {

    .Main{
        padding: 20px 20px;
    }

    .twoPackRolls img{
        width: 100%;
        height: 250px;
    }

    .Chief img{
        width: 150px;
        height: 150px;
    }

    .Chieff img{
        width: 180px;
        height: 240px;
    }

    .manySushi img{
        height: 200px;
    }

    .firstBlock,
    .secondBlock,
    .thirdBlock {
        padding-top: 0;
        width: 150px;
        flex-wrap: nowrap;
        border-radius: 15px;
    }

    .thirdBlock{
        display: none;
    }
}
