.Main {
    position: relative;
    background-image: url("../../assets/img/island.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    z-index: 0;
}

.Main::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #52E0FF 100%);
    z-index: -1;
}

.IslandMain {
    margin-left: 100px;
    margin-top: 500px;
    margin-bottom: 120px;
}

.islandTitle {
    font-family: "UltraBold";
    font-size: 45px;
}

.IslandDescrip {
    font-size: 32px;
    padding-top: 20px;
    max-width: 1600px;
    font-family: 'Bold';
}

.InvestDateInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    width: 1000px;
    font-family: "Bold";
}

.OpeningDates,
.Invest {
    font-size: 25px;
}

.bold {
    font-family: "UltraBold";
    font-size: 40px;
}

.Presentation {
    padding-top: 30px;
}

.Presentation button {
    border: 1px solid #fff;
    background: none;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 25px;
    color: #fff;
    font-family: "Ultra";
    cursor: pointer;
}

@media (max-width: 768px) {
    .Main {
        padding: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("../../assets/img/Монтажная область 6цуц 1.png");
    }

    .IslandMain {
        margin-left: 0;
        margin-top: 200px;
        margin-bottom: 0;
    }

    .islandTitle {
        font-size: 18px;
        width: 100%;
    }

    .IslandDescrip {
        font-size: 16px;
        padding-top: 10px;
        max-width: 100%;
        line-height: 1.4;
    }

    .InvestDateInfo {
        gap: 15px;
        padding-top: 25px;
        width: 100%;
    }

    .OpeningDates,
    .Invest {
        font-size: 16px;
    }

    .bold {
        font-size: 18px;
    }

    .Presentation {
        padding-top: 25px;
    }

    .Presentation button {
        width: 100%;
        font-size: 18px;
        padding: 14px;
    }
}