/* Define custom fonts with proper URLs */
@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format('opentype');
}

@font-face {
  font-family: "Light";
  src: url("./assets/fonts/Montserrat-Light.ttf") format('truetype');
}

@font-face {
  font-family: "UltraBold";
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #52E0FF;
  font-family: "Light", sans-serif; 
}

a {
  text-decoration: none;
  color: inherit; 
}
