.Main {
    background-image: url("../../../public/assets/img/darkKitchen.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
    font-family: 'Light';
    padding: 150px;
    box-sizing: border-box;
    
}

.DKmain {
    font-family: "Ultra";
    font-size: 30px;
}

.DKdescrip {
    font-size: 32px;
    padding-top: 20px;
    max-width: 1200px;
}

.InvestDateInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    max-width: 650px;
}

.OpeningDates,
.Invest {
    font-size: 25px;
}

.bold {
    font-family: "Ultra";
    font-size: 30px;
}

.Presentation {
    padding-top: 30px;
}

.Presentation button {
    border: 1px solid #fff;
    background: none;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 25px;
    color: #fff;
    font-family: "Ultra";
    cursor: pointer;
}

@media (max-width: 768px) {
    .Main {
        padding: 80px 15px;
        background-position: center;
        text-align: start;
    }

    .DKmain {
        font-size: 24px;
    }

    .DKdescrip {
        font-size: 20px;
    }

    .InvestDateInfo {
        flex-direction: column;
        gap: 20px;
    }

    .OpeningDates,
    .Invest {
        font-size: 18px;
    }

    .bold {
        font-size: 24px;
    }

    .Presentation button {
        width: 100%;
        font-size: 20px;
        padding: 16px;
    }
}
