.Main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 150px;
    box-sizing: border-box;
}

.Partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Partner h1 {
    font-family: "Ultra";
    font-size: 140px;
    color: #28B9D8;
}

.Partner p {
    font-size: 33px;
    font-family: "Light";
}

.PortraitCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 110px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1024px) {
    .Main {
        padding: 100px 60px;
    }

    .Partner h1 {
        font-size: 80px;
    }

    .Partner p {
        font-size: 28px;
    }

    .PortraitCard {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
}

@media (max-width: 768px) {
    .Main {
        padding: 60px 20px;
    }

    .Partner h1 {
        font-size: 60px;
    }

    .Partner p {
        font-size: 22px;
        flex-direction: column;
    }

    .PortraitCard {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}
